Package: crupest-teapot
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: crupest <crupest@outlook.com>
Description: This is a test application for packaging
Depends: qt6-qpa-plugins,libqt63dquick6,qml6-module-qtqml,qml6-module-qtqml-workerscript,qml6-module-qtquick,qml6-module-qtquick-templates,qml6-module-qtquick-controls,qml6-module-quick3d
